<div id="footer">
<div class="izquierda">
<%=image_tag "logo2.png" %>
</div>
<div class="derecha">
<p>Copyright@ Diego ruiz Fernandez</p>
<p class="tarjeta">Tarjetas de credito acceptadas</p>
<%=image_tag "card.jpg" %>
</div>
</div>