<div id="cuenta">
	<div class="form">
	<div id="signup" >
	 <div class="header">
            <h3>Ayuda</h3>
        </div>
        <div class="sep"></div>
        <ul>
			<li><%=link_to "Como comprar","/como_comprar/comoComprar"%></li>
			<li><%=link_to "Gastos de envio","/gastos/gastos"%></li>
			<li><%=link_to "Precios","/precios/precios"%></li>
			<li><%=link_to "Derechos","/derechos/derechos"%></li>
		</ul>
	</div>
	</div>
</div>