<div id="producto">
<div class="form">
<div id="signup">
	 <div class="header">
            <h3>Precios</h3>
        </div>
        <div class="sep"></div>
        <p>El precio de nuestros artículos y servicios es el que se indica en 
			cada momento en nuestro sitio web.<br\> <br\> Si se detectase que ha existido un error 
			en la introducción del precio de un producto o servicio, o en su descripción, con posterioridad
			a la recepción de un pedido, nos pondremos en contacto contigo lo antes posible para informarte de
			la incidencia, y ofrecerte la opción de cancelación o mantenimiento en las condiciones correctas. 
			La remisión de confirmación automática no valida condiciones de precio erróneas. En caso de cancelación 
			te será reintegrada cualquier cantidad que hubiese sido abonada. Sin tu expresa conformidad a las condiciones
			de precio correctas, no se procederá a dar curso al envío.
		</p>
</div>
</div>
</div>
