<div id="producto">
<div class="form">
<div id="signup">
	 <div class="header">
            <h3>Como comprar</h3>
        </div>
        <div class="sep"></div>
        <p>Comprar en nuestra web es muy sencillo solo tienes que añadir 
			los productos al carrito y una vez añadidos todos los productos dar a finalizar pedido. <br\> <br\>  
			Indispensable estar registrado en nuestra pagina web para poder comprar y poder ver tus pedidos 
			una vez finalizado el proceso de compra.
		</p>
</div>
</div>
</div>
