<div id="producto">
<div class="form">
<div id="signup">
	 <div class="header">
            <h3>Gastos de envio y plazos de entrega</h3>
        </div>
        <div class="sep"></div>
        <p>Los pedidos con pago online y entrega a domicilio 
			o en tienda tienen gastos de transporte desde 5 euros, en función del 
			tipo de productos, la cantidad y el destino. <br\> <br\> Los pedidos con pago online 
			y entrega en tienda tienen gastos de transporte debido a que realizamos un
			envío a la tienda elegida para la entrega, generando un pedido exclusivo para <br\> <br\>
			usted. Las reservas para recogida y pago en tienda no tienen gastos de transporte.
			El plazo de entrega en el domicilio de envío es de entre 2 y 5 días desde la confirmación del pedido (España peninsular y Baleares) excluyendo sábados, domingos y festivos.
		</p>
</div>
</div>
</div>