<div id="cuenta">
	<div class="form">
	<div id="signup" >
	 <div class="header">
            <h3>Borrar cuenta</h3>
        </div>
        <div class="sep"></div>
          <a  href="/cuenta/borrarCuenta" id="submit">
			Borrar	
		</a>
		 <a   href="/" id="submit">
				No borrar
		</a>
	</div>
	</div>
</div>