<div id="cuenta">
<div class="form">
	<div id="signup">
	 <div class="header">
            <h3>Cuenta</h3>
        </div>
        <div class="sep"></div>
		<ul>
			<li><a href="datosPersonales">Datos personales</spring:message></a></li>
			<li><a href="listaPedidos">Lista de pedidos</spring:message></a></li>
			<li> <a href="/sesion/cerrarSesion">Cerrar sesion</a></li>
			<li><a href="bajaCuenta">Baja cuenta</a></li>
		</ul>
	</div>
</div>
</div>

