<div id="listaProductos">
<div class="form">
	<div id="signup">	
	<div class="header">
            <h3>Acerca de</h3>
        </div>
        <div class="sep"></div>
        <h4>Nacimiento PC RUDICO</h4>
	       	PC RUDICO inicio la actividad en el mundo de la informatica y los videojuegos en el año 2015.<br\> <br\>
			El entusiasmo de la creación de dicha empresa vino motivado por la falta en el sector de negocios especializados en este tipo
			de actividades, debido a que la mayoria de los negocios implicados en estas actividades son grandes centros comerciales carentes de
			personal cualificado.<br\> <br\>En PC RUDICO encontraras a empleados cualificados y cercanos que te aconsejaran dependinedo cual sea tu necesidad
			mas inmediata.
        <h4>Localizcacion y contacto</h4>
         	Podéis localizarnos en la calle Santo Tirso nº22, o puedes contactarnos por teléfono 987 20 55 86
        <div id="map">
        <iframe src="https://www.google.com/maps/d/embed?mid=z33Jnrpk3iO8.krZ9T4CqM50I" width="400" height="400"></iframe>
        </div>
	</div>
	</div>
</div>