<div id="producto">
<div class="form">
<div id="signup">
	 <div class="header">
            <h3>Derechos de desestimiento</h3>
        </div>
        <div class="sep"></div>
        <p>Tienes un plazo de catorce (14) días desde la fecha de recepción, para ejecutar el derecho
			de devolución, excepto los equipos configurados a medidas y el software, previa comunicación al efecto remitida por
			correo electrónico a ventaonline@pcrudico.es, llamando al 902102501 o mediante cualquier otro medio válido admitido en 
			derecho que deje constancia de la misma.<br\> <br\> Para el ejercicio de dicho derecho de desistimiento, el producto deberá estar
			en perfectas condiciones, en su embalaje original y con los manuales, accesorios o regalos promocionales incluidos en su
			caso. Previa comprobación del estado de la mercancía, se procederá al reintegro de su importe conforme a la misma modalidad
			de pago utilizada para la adquisición del producto de la que se desiste, a la mayor brevedad posible y, en todo caso, antes de
			catorce (14) días naturales desde que hayamos sido informados de su decisión.<br\> <br\> En caso de ejercicio del derecho de desistimiento
			legalmente reconocido por parte del consumidor o usuario, éste sólo deberá asumir los costes directos de devolución del producto,
			conforme a lo expresamente establecido en el artículo 108 del Real Decreto Legislativo 1/2007 de 16 de noviembre, por el que se aprueba
			el Texto Refundido de la Ley General para la Defensa de los Consumidores y Usuarios y otras leyes complementarias.
		</p>
</div>
</div>
</div>